*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.gradle/7.3.3
/.gradle/buildOutputCleanup
/.gradle/file-system.probe
/.gradle/vcs-1
/.V1/
/.SEEMT/.gradle/
/.SEEMT/.idea/
/.SEEMT/build/
/.SEEMT/local.properties